@font-face {
  font-family: Rock;
  src: url(old_evils/old\ evils.ttf);
}

@font-face {
  font-family: Country;
  src: url(Countryside\ Personal\ Use.ttf);
}

@font-face {
  font-family:pop;
  src: url(PopArt-Regular.ttf);
}

@font-face {
  font-family: retro;
  src: url(retro.ttf);
}


@font-face {
  font-family: Metal;
  src: url(metallic/MetallicSharp.ttf);
}


.nav-link-1{
  font-family: Rock;
  font-size: 40;
  color: rgb(255, 255, 255);
  padding-left: 50px;
  text-decoration: none;
}

.nav-link-2{
  font-family: Metal;
  font-size: 30;
  color: rgb(255, 255, 255);
  padding-left: 50px;
  margin-top: 12;
  text-decoration: none;
}

.nav-link-3{
  font-family: pop;
  font-size: 30;
  color: rgb(255, 255, 255);
  padding-left: 50px;
  margin-top: 7px;
  text-decoration: none;
}

.nav-link-4{
  font-family: retro;
  font-size: 30;
  color: rgb(255, 255, 255);
  padding-left: 50px;
  margin-top: 10px;
  text-decoration: none;
}

.nav-link-active{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40;
  color: rgb(255, 255, 255);
  padding-left: 50px;
  text-decoration: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none; 
}

a:hover {
  color: rgb(138, 0, 184);
  text-decoration: underline; 
}

body{


.LEDZEPPELIN{
  padding-top: 10px;
  font-size: 40px;
  color: aliceblue;
  font-family: rock;
  padding-left: 30px;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 30;
  font-family: Rock;
  color: aliceblue;
}

.image-row img {
  width: calc(33.33% - 10px);
  max-width: 100%;
  height: 300px;
  width: 300px;
}


.image-row img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 1);
}


.image-row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 30;
  font-family: Metal;
  color: aliceblue;
}

.image-row-1 img {
  width: calc(33.33% - 10px);
  max-width: 100%;
  height: 300px;
  width: 300px;
}


.image-row-1 img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 1);
}

.image-row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 30;
  font-family: pop;
  color: aliceblue;
}

.image-row-2 img {
  width: calc(33.33% - 10px);
  max-width: 100%;
  height: 300px;
  width: 300px;
}


.image-row-2 img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 1);
}

.image-row-3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 20;
  font-family: retro;
  color: aliceblue;
}

.image-row-3 img {
  width: calc(33.33% - 10px);
  max-width: 100%;
  height: 300px;
  width: 300px;
}


.image-row-3 img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 1);
}

.holy{
  font-size: 25;
}

.majesty{
  font-size: 17;
}

.pepper{
  font-size: 15;
}

.love{
  font-size: 23;
}

.music{
  font-size: 19;
}

.bi{
  font-size: 25;
}

.dua{
  font-size: 21;
}

.short{
  font-size: 23;
}

.katy{
  font-size: 23;
}

background-color: black;
  height: auto;
  width: auto;
  overflow: visible;
}

.video-container {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: visible;
}

.background-video {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: auto;
  z-index: -1;
  box-shadow: 0 0 40px rgba(213, 179, 255, 0.5); 
  margin-bottom: 50px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.overlay-text h1 {
  font-size: 3rem;
  opacity: 0; 
  animation: fadeIn 4s ease-out forwards; 
}

.overlay-text p {
  font-size: 2rem;
  margin: 10px 0 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  opacity: 0; 
  animation: fadeIn 2s ease-out forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0%, -40%); 
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }

}

.welcome{
  padding-top: 100px;
  width: 200px;
}


.aboutme{
  padding-top: 300px;
  padding-left: 5%;
  color:aliceblue;
  font-family: 'Times New Roman', Times, serif;
}

.aboutme{
  font-size: 20;
  width: 50%;
}

.image-button{
  border: none;
  background: none;
  margin-left:0;
  padding:0;
  cursor: pointer;
}

.image-button-1{
  border: none;
  background: none;
  margin-left:0;
  padding:0;
  cursor: pointer;
}

.image-button-2{
  border: none;
  background: none;
  margin-left:0;
  padding:0;
  cursor: pointer;
}

.image-button-3{
  border: none;
  background: none;
  margin-left:0;
  padding:0;
  cursor: pointer;
}

.image-button-4{
  border: none;
  background: none;
  margin-left:0;
  padding:0;
  cursor: pointer;
}

.container{
  width: 100%;
  height: 50%;
  margin-top: 25%;
  display: flex;
  overflow: hidden;
  background: hsl(0, 0%, 0%);

}

.looping {
  display: flex;
  width: 100%;
  animation: scroll 20s linear infinite; 
  width: 200%;
}

.looping img {
  margin-right: 10px;
  padding: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

h6{
  font-family: pop;
  font-size: 30;
  margin-top: 0;
  color: aliceblue;
  text-shadow:rgb(238, 2, 79);
  text-align: center;
}